<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <typeAlias type="com.app.mybatis.domain.MemberVO" alias="MemberVO" />
        <typeAlias type="com.app.mybatis.domain.ProductVO" alias="ProductVO" />
        <typeAlias type="com.app.mybatis.domain.PostVO" alias="PostVO" />
        <typeAlias type="com.app.mybatis.domain.PostDTO" alias="PostDTO" />
    </typeAliases>
</configuration>