<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mybatis.mapper.ProductMapper">
    <insert id="insert" parameterType="ProductVO">
        INSERT INTO TBL_PRODUCT
        VALUES(SEQ_PRODUCT.NEXTVAL, #{productName}, #{productPrice}, #{productStock})
    </insert>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_PRODUCT
        WHERE ID = #{id}
    </delete>

    <select id="select" parameterType="Long" resultType="ProductVO">
        SELECT ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_STOCK
        FROM TBL_PRODUCT
        WHERE ID = #{id}
    </select>

    <select id="selectAll" resultType="ProductVO">
        SELECT ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_STOCK
        FROM TBL_PRODUCT
    </select>

    <update id="update" parameterType="ProductVO">
        UPDATE TBL_PRODUCT
        SET
            PRODUCT_NAME = #{productName},
            PRODUCT_PRICE = #{productPrice},
            PRODUCT_STOCK = #{productStock}
        WHERE ID = #{id}
    </update>

</mapper>